.article {
  margin: 0 auto;
  max-width: 920px;

  img {
    margin: 15px auto;
    max-height: 700px;
  }

  .subheading {
    font-size: 1rem;

    svg {
      max-width: 1rem;
    }

    span {
      display: flex;
      gap: 5px;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
    line-height: 2rem;

    code {
      background-color: whitesmoke;
      padding: 2px 4px;
      border: 1px solid whitesmoke;
      border-radius: 2px;
      color: black;
      margin-right: 3px;
    }
  }

  pre {
    position: relative;
    margin-bottom: 1rem;

    svg {
      max-width: 1.15rem;
    }

    .button-copy {
      padding: 5px;
      border: 1px solid whitesmoke;
      color: whitesmoke;
      background-color: transparent;
      gap: 0;
      opacity: 0;
      position: absolute;
      top: 5px;
      right: 5px;

      span {
        display: none;
      }

      &:focus {
        border-color: var(--primary-green-100);
        color: var(--primary-green-100);

        span {
          display: inline;
          text-transform: capitalize;
        }
      }
    }

    &:hover {
      .button-copy {
        opacity: 100;
      }
    }
  }

  ol {
    list-style: nth;
  }
}
