// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(213, 15%, 20%),
    200: hsl(213, 20%, 30%),
    300: hsl(213, 25%, 40%),
    400: hsl(213, 30%, 50%),
    500: hsl(213, 40%, 60%),
  ),
  secondary: (
    100: hsl(45, 60%, 50%),
    200: hsl(45, 65%, 45%),
    300: hsl(45, 70%, 40%),
    400: hsl(45, 75%, 35%),
    500: hsl(45, 80%, 30%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
