.yellow {
  background: $primary-yellow;
}

.text-blue {
  color: $primary-blue;
}

.chip {
  @apply font-bold text-base py-1 px-2 rounded-full mr-2;
}

.chip-sm {
  @apply chip text-xs;
}

.card {
  @apply bg-white p-5 border-gray-800 rounded-lg shadow-lg mr-2 mb-5 flex;

  .card-content-flex {
    @apply flex justify-center items-center;
  }

  .img-btn {
    max-width: 100px;
  }

  &:hover {
    @apply shadow-xl;
  }
}

.btn {
  @apply py-2 px-4 font-bold mr-2;
}

.btn-model1 {
  @apply bg-white rounded-full text-blue;
}

.btn-model2 {
  @apply bg-transparent font-bold text-blue border border-blue-500 rounded;
  &:hover {
    @apply bg-blue-500 text-white border-transparent;
  }
}

.btn-model3 {
  @apply text-white rounded-full bg-gray-900;
}

.BrainhubCarousel__arrows {
  @apply rounded-full;
  background-color: $primary-blue !important;
}

@screen md {
  .card {
    .img-btn {
      @apply max-w-full;
      max-height: 2rem;
    }
  }
}
