@font-face {
  font-family: "hind";
  src: url("./fonts/Hind-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "hind";
  src: url("./fonts/Hind-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "hind";
  src: url("./fonts/Hind-Light.ttf") format("truetype");
  font-weight: lighter;
}
