// General Layout
html,
body {
  margin: 0 auto;
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
  @apply bg-white w-full h-screen overflow-x-hidden;
}

.container {
  @apply mx-auto max-w-screen-lg;
}

.div-flex {
  @apply flex flex-wrap justify-center my-auto;
}

// Spesific Layout
.hero-section {
  background-image: linear-gradient(
    270deg,
    $primary-blue,
    $secondary-blue,
    $primary-blue
  );
  @apply relative min-h-screen;

  .hero-pattern {
    width: 300px;
    height: 100px;
    background-size: 180px;
    background: url("/image/pattern.webp");
    @apply absolute top-0 right-0 bg-right-top bg-no-repeat;
  }

  .hero-image {
    @apply flex w-full justify-center items-center;
    img {
      @apply w-48 animate__animated animate__zoomIn;
    }
  }

  .hero-desc {
    @apply w-full flex flex-col items-center text-white p-5;

    .title {
      @apply animate__animated animate__fadeIn animate__delay-1s mt-2 mb-3;
    }

    .name {
      @apply text-xl animate__animated animate__fadeIn animate__delay-1s;
    }

    .desc {
      @apply text-center text-xs animate__animated animate__fadeIn animate__delay-1s;
    }
  }

  .hero-btn {
    @apply animate__animated animate__fadeIn animate__delay-1s;
  }
}

// Screen Medium Configuration
@screen md {
  .hero-section {
    .hero-image {
      @apply w-1/2;
      img {
        @apply w-full max-w-sm;
      }
    }
    .hero-desc {
      @apply w-1/2 items-start justify-center;

      .name {
        @apply text-5xl;
      }

      .desc {
        @apply text-base text-left;
      }
    }
  }
}
