@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap");
@import "variables.scss";
@import "animate.scss";

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: white;
  overflow-x: hidden;
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 80%;
  @media only screen and (max-width: $mobile-width) {
    max-width: 95%;
  }
}
.hero-bg {
  position: relative;
  background-image: linear-gradient(
    270deg,
    $primary-blue,
    $secondary-blue,
    $primary-blue
  );
  min-height: 100vh;
  .hero-pattern {
    position: absolute;
    right: 0;
    top: 0;
    background: url("/image/pattern.webp");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 180px;
    width: 300px;
    height: 100px;
  }
  .hero-image {
    max-width: 350px;
    -webkit-filter: drop-shadow(35px 5px 35px $primary-shadow);
    filter: drop-shadow(35px 5px 35px $primary-shadow);
    @media only screen and(max-width:$mobile-width) {
      max-width: 150px;
    }
  }
  .hero-name {
    font-size: 3rem;
    @media only screen and(max-width:$mobile-width) {
      font-size: 1.8rem;
    }
  }
  .hero-title {
    font-weight: bold;
    font-size: 1rem;
    background: $primary-yellow;
    padding: 5px 10px;
    border-radius: 20px;
    color: $primary-blue;
    min-width: 100px;
    text-align: center;
  }
}
.menubar {
  @media only screen and (min-width: $desktop-width) {
    position: fixed;
    background: white;
    border-radius: 10px;
    width: 70px;
    min-height: 390px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    -webkit-box-shadow: 2px 2px 5px 0px $primary-shadow;
    -moz-box-shadow: 2px 2px 5px 0px $primary-shadow;
    box-shadow: 2px 2px 5px 0px $primary-shadow;
  }

  @media only screen and (max-width: $mobile-width) {
    position: fixed;
    background: white;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 4;
  }

  ul {
    display: flex;
    align-items: center;

    @media only screen and (min-width: $desktop-width) {
      justify-content: center;
      padding: 20px 0px;
      flex-direction: column;
      li img {
        width: 50px;
        padding: 10px 0px;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 5px 2px;
      border-top: 1px solid $secondary-shadow;
      li img {
        width: 65px;
        padding: 5px 15px;
      }
    }

    li:hover {
      transform: scale(1.1);
      cursor: pointer;
      -webkit-filter: drop-shadow(5px 5px 15px $secondary-shadow);
      filter: drop-shadow(5px 5px 15px $secondary-shadow);
    }
  }
}
.content-wrapper {
  position: relative;
  min-height: 100vh;
  border-bottom: 1px solid $secondary-shadow;
  .content-bg {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 200px;
    height: 200px;
    opacity: 0.1;
  }
  .icon-blog {
    background: url("/image/dialogue.svg");
    background-position: top right;
    background-size: 120px;
    background-repeat: no-repeat;
  }
  .icon-portofolio {
    background: url("/image/gallery.svg");
    background-position: top right;
    background-size: 120px;
    background-repeat: no-repeat;
  }
  .icon-labs {
    background: url("/image/flasks.svg");
    background-position: top right;
    background-size: 120px;
    background-repeat: no-repeat;
  }
  .icon-contact {
    background: url("/image/drink.svg");
    background-position: top right;
    background-size: 120px;
    background-repeat: no-repeat;
  }
  .content-body {
    border-radius: 20px;
    padding: 20px;
    min-height: 600px;
    .title {
      font-size: 2rem;
      font-weight: bolder;
      color: $primary-blue;
      border-bottom: 5px solid $primary-yellow;
      display: inline;
    }
  }
}
.article {
  -webkit-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  -moz-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  box-shadow: 5px 5px 20px 0px $secondary-shadow;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .article-title {
    color: $primary-shadow;
  }
  .article-detail {
    color: $primary-blue;
    i {
      color: $primary-shadow;
      font-style: normal;
    }
  }
}
.portofolio {
  .image-portofolio {
    position: relative;
    overflow: hidden;
    .bg {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
    img {
      max-height: 300px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.maintenance {
  background: url("/image/maintenance.webp");
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: 320px;
  background-repeat: no-repeat;
}
.general-footer {
  position: fixed;
  bottom: 0;
  background: white;
  font-size: 0.9rem;
  padding: 5px 5px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  -moz-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  box-shadow: 5px 5px 20px 0px $secondary-shadow;

  @media only screen and (max-width: $mobile-width) {
    display: none;
  }

  p {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;

    span {
      color: red;
    }
    a {
      text-decoration: underline;
    }
  }
}
