// Primary Color
$primary-blue: #002ea1;
$primary-yellow: #f1c40e;
$primary-grey: #7f8c8d;
$primary-shadow: #2c3e50;
$primary-dark: #17212b;

// Secondary Color
$secondary-blue: #026ddf;
$secondary-shadow: #bdc3c7;
