// Variables Color
$primary-blue: #002ea1;
$secondary-blue: #026ddf;

$primary-yellow: #f1c40e;

$primary-grey: #7f8c8d;

$primary-shadow: #2c3e50;
$secondary-shadow: #bdc3c7;

// Other Variables
$desktop-width: 800px;
$mobile-width: 799px;
