---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Made with <a href="https://www.accessible-astro.dev/" target="_b
        "
          >Accessible Astro Theme kit</a
        >, Customized by <a href="https://github.com/munirapp">Munir AP</a>.
      </p>
    </div>
  </section>
</footer>
