---
import fs from 'node:fs'
import { fileURLToPath } from 'url'
import { dirname, join as pathJoin } from 'path'

import Navigation from '@components/Navigation.astro'
// @ts-ignore
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

const __dirname = dirname(fileURLToPath(import.meta.url))

const articleDir = pathJoin(__dirname, '../articles')

const currentYear = new Date().getFullYear()

const yearCategories = fs
  .readdirSync(pathJoin(articleDir))
  .map((item) => ({ year: item, url: `/blog/${item}` }))
  .reverse()
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Blog</button>
      <ul class="dropdown-menu">
        {
          yearCategories.map((categories) => (
            <li class="submenu-item">
              <a href={categories.url}>
                {categories.year}
                {+categories.year === +currentYear ? `(Latest)` : ''}
              </a>
            </li>
          ))
        }
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/munirapp" title="Visit Me on Github">
        <Icon name="raphael:github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
